USE [synergyHRM]
GO
/****** Object:  Table [dbo].[AdditionalInfo]    Script Date: 11/20/2025 5:56:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdditionalInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdditionalInfoName] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[BranchId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 11/20/2025 5:56:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [nvarchar](max) NULL,
	[LoginDate] [datetime] NULL,
	[LogoutDate] [datetime] NULL,
	[BranchId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceBatches]    Script Date: 11/20/2025 5:56:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceBatches](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BatchId] [nvarchar](max) NULL,
	[DeviceIp] [nvarchar](max) NULL,
	[MachineNumber] [int] NOT NULL,
	[SentAt] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AttendanceBatches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceRecords]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceRecords](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AttendanceBatchId] [bigint] NOT NULL,
	[EnrollId] [nvarchar](max) NULL,
	[UserIdFromDevice] [nvarchar](max) NULL,
	[VerifyMode] [int] NOT NULL,
	[InOutMode] [int] NOT NULL,
	[DeviceTimestamp] [datetime2](7) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[WorkCode] [int] NOT NULL,
	[RecordKey] [nvarchar](max) NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_AttendanceRecords] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BonusCalculate]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BonusCalculate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BonusTypeId] [int] NULL,
	[BonusDate] [datetime] NULL,
	[Percentage] [float] NULL,
	[BonusAmount] [money] NULL,
	[EmployeeId] [nvarchar](max) NULL,
	[BranchId] [int] NULL,
	[DesignationId] [int] NULL,
	[DepartmentId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BonusType]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BonusType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BonusTypesName] [nvarchar](150) NULL,
	[BranchId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calendar]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Day] [int] NULL,
	[January] [nvarchar](150) NULL,
	[February] [nvarchar](150) NULL,
	[March] [nvarchar](150) NULL,
	[April] [nvarchar](150) NULL,
	[May] [nvarchar](150) NULL,
	[June] [nvarchar](150) NULL,
	[July] [nvarchar](150) NULL,
	[August] [nvarchar](150) NULL,
	[September] [nvarchar](150) NULL,
	[October] [nvarchar](150) NULL,
	[November] [nvarchar](150) NULL,
	[December] [nvarchar](150) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[TagLine] [nvarchar](60) NULL,
	[VatRegistrationNo] [nvarchar](60) NULL,
	[TinNo] [nvarchar](60) NULL,
	[WebsiteLink] [nvarchar](60) NULL,
	[Email] [nvarchar](60) NULL,
	[ContactNumber] [nvarchar](24) NULL,
	[Address] [nvarchar](100) NULL,
	[Remarks] [nvarchar](100) NULL,
	[LogoPath] [nvarchar](100) NULL,
	[SubscriptionId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](250) NULL,
	[BranchId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Designation]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DesignationName] [nvarchar](250) NULL,
	[BranchId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[DepartmentId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DutySlots]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DutySlots](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SlotName] [nvarchar](100) NULL,
	[StartHour] [int] NULL,
	[StartMinute] [int] NULL,
	[DutyHour] [int] NULL,
	[DutyMinute] [int] NULL,
	[EndHour] [int] NULL,
	[EndMinute] [int] NULL,
	[BranchId] [int] NULL,
	[SubscriptionId] [int] NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DesignationId] [int] NULL,
	[DepartmentId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeLoan]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeLoan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [nvarchar](max) NULL,
	[DateOfLoan] [datetime] NULL,
	[LoanAgainst] [nvarchar](150) NULL,
	[LoanPercentage] [real] NULL,
	[LoanAmount] [money] NULL,
	[Interest] [real] NULL,
	[InterestAmount] [money] NULL,
	[Term] [real] NULL,
	[PerMonthInterest] [real] NULL,
	[EmiPrinciple] [real] NULL,
	[Emi] [real] NULL,
	[Status] [bit] NULL,
	[ApplicationId] [int] NULL,
	[BranchId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeLoanFile]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeLoanFile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [nvarchar](max) NULL,
	[ApplicationFile] [nvarchar](500) NULL,
	[ContentType] [nvarchar](max) NULL,
	[ApplicationFileId] [int] NULL,
	[LoanId] [int] NULL,
	[BranchId] [int] NULL,
	[SubscriptionId] [int] NULL,
	[CompanyId] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [nvarchar](max) NOT NULL,
	[EmployeeName] [nvarchar](max) NULL,
	[FatherName] [nvarchar](max) NULL,
	[MotherName] [nvarchar](max) NULL,
	[SpouseName] [nvarchar](max) NULL,
	[DOB] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[BloodGroup] [nvarchar](max) NULL,
	[MaritalStatus] [nvarchar](max) NULL,
	[TinNo] [nvarchar](max) NULL,
	[NationalID] [nvarchar](max) NULL,
	[Telephone] [nvarchar](max) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[MailID] [nvarchar](max) NULL,
	[PermanentAddress] [nvarchar](max) NULL,
	[PresentAddress] [nvarchar](max) NULL,
	[DateOfAppointment] [datetime2](7) NOT NULL,
	[Religion] [nvarchar](max) NULL,
	[Nationality] [nvarchar](max) NULL,
	[Shift] [nvarchar](max) NULL,
	[Version] [nvarchar](max) NULL,
	[JobType] [nvarchar](max) NULL,
	[UploadPhoto] [nvarchar](max) NULL,
	[BranchId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[DesignationId] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[SubscriptionId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[AdditionalId] [int] NULL,
	[Status] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeSeparation]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeSeparation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [nvarchar](max) NULL,
	[SeparationReasonsId] [int] NULL,
	[Remarks] [nvarchar](500) NULL,
	[Sep_Date] [datetime] NULL,
	[app_status] [nvarchar](50) NULL,
	[app_date] [datetime] NULL,
	[Req_date] [datetime] NULL,
	[ReleaseLetter] [nvarchar](50) NULL,
	[BranchId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeSeperationFile]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeSeperationFile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [nvarchar](max) NULL,
	[application_file] [nvarchar](max) NULL,
	[content_type] [nvarchar](max) NULL,
	[Document_Type] [nvarchar](150) NULL,
	[EmployeeSeparationId] [int] NULL,
	[BranchId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExcludeTax]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExcludeTax](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MonthIndex] [int] NULL,
	[Month] [nvarchar](150) NULL,
	[Year] [int] NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[GenDate] [datetime] NULL,
	[EmployeeId] [nvarchar](max) NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL,
	[BranchId] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GratuityCalculate]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GratuityCalculate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [nvarchar](max) NULL,
	[LastBasicSalary] [float] NULL,
	[EmploymentYears] [float] NULL,
	[TotalGratuityAmount] [float] NULL,
	[BranchId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL,
	[CreatedAt] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GratuityCalculateSetup]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GratuityCalculateSetup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SalaryHeadId] [int] NULL,
	[MinYear] [int] NULL,
	[MonthDays] [int] NULL,
	[WorkingDays] [int] NULL,
	[BranchId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HolidayCalendar]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HolidayCalendar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HolidayDate] [datetime] NULL,
	[Purpose] [nvarchar](150) NULL,
	[BranchId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LateAttendance]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LateAttendance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LateMin] [int] NULL,
	[NoOfLate] [int] NULL,
	[AdjustmentType] [nvarchar](150) NULL,
	[Basic] [nvarchar](150) NULL,
	[LeaveTypeId] [int] NULL,
	[BranchId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveAttachments]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveAttachments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LeaveRecordId] [int] NOT NULL,
	[FileName] [nvarchar](max) NULL,
	[FilePath] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveRecords]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [nvarchar](max) NULL,
	[LeaveTypeId] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[NumberOfDays] [int] NULL,
	[Reason] [nvarchar](max) NULL,
	[ApprovedByImmediateBossStatus] [int] NULL,
	[ApprovedByHRStatus] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[ImmediateBossByUpdatedAt] [datetime] NULL,
	[BranchId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL,
	[HRByUpdatedAt] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveType]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](150) NULL,
	[Documents] [nvarchar](50) NULL,
	[BranchId] [int] NULL,
	[SubscriptionId] [int] NULL,
	[CompanyId] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanApproval]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanApproval](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [nvarchar](max) NULL,
	[AppliDate] [datetime] NULL,
	[AmountLoan] [money] NULL,
	[Remarks] [nvarchar](500) NULL,
	[BasicSalary] [money] NULL,
	[RecommendedAmount] [money] NULL,
	[RecommendDate] [datetime] NULL,
	[PreviousLoan] [money] NULL,
	[Repaid] [money] NULL,
	[Hr_Rem] [nvarchar](max) NULL,
	[LoanApproved] [money] NULL,
	[LoanAppDate] [datetime] NULL,
	[Term] [real] NULL,
	[interest] [real] NULL,
	[AppStatus] [nvarchar](50) NULL,
	[LoanIssued] [nvarchar](50) NULL,
	[LoanId] [int] NULL,
	[BranchId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL,
	[Grade] [nvarchar](150) NULL,
	[LoanCompleteStatus] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanInstallment]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanInstallment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TxId] [int] NULL,
	[LoanId] [int] NULL,
	[EmployeeId] [nvarchar](max) NULL,
	[DateOfInstallment] [datetime] NULL,
	[Installment_No] [int] NULL,
	[Installment_Amount] [money] NULL,
	[PaymentDate] [datetime] NULL,
	[InstallmentStatus] [nvarchar](50) NULL,
	[RefId] [int] NULL,
	[SalaryMonth] [nvarchar](150) NULL,
	[SalaryYear] [int] NULL,
	[BranchId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Controller] [varchar](50) NULL,
	[Action] [varchar](50) NULL,
	[PermissionName] [varchar](50) NULL,
	[SubscriptionId] [int] NULL,
	[BranchId] [int] NULL,
	[Status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoOFLeave]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoOFLeave](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LeaveTypeId] [int] NULL,
	[NoOfLeaves] [int] NULL,
	[YearOrMonth] [nvarchar](50) NULL,
	[LeaveCarry] [nvarchar](50) NULL,
	[NoOfYears] [int] NULL,
	[BranchId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OffDays]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OffDays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OffDay] [nvarchar](150) NULL,
	[DesignationId] [int] NULL,
	[DepartmentId] [int] NULL,
	[BranchId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Overtime]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Overtime](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OverHour] [int] NULL,
	[AdjustmentType] [nvarchar](150) NULL,
	[Basic] [nvarchar](100) NULL,
	[LeaveTypeId] [int] NULL,
	[BranchId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PfContribution]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PfContribution](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[PFContributionPercentage] [float] NULL,
	[PFContributionYear] [float] NULL,
	[BranchId] [int] NULL,
	[DesignationId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PFInterest]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PFInterest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NULL,
	[Interest] [float] NULL,
	[BranchId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermission]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermission](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[SubscriptionId] [int] NULL,
	[BranchId] [int] NULL,
	[MenuId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[SubscriptionId] [int] NULL,
	[BranchId] [int] NULL,
	[status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaryCalculation]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryCalculation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SL] [int] NULL,
	[Parameter] [nvarchar](150) NULL,
	[Value] [money] NULL,
	[ApplyDate] [datetime] NULL,
	[BranchId] [int] NULL,
	[DepartmentId] [int] NULL,
	[DesignationId] [int] NULL,
	[EmployeeId] [nvarchar](max) NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaryHeads]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryHeads](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Salaryitems] [nvarchar](250) NULL,
	[BranchId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaryRegister]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryRegister](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MonthIndex] [int] NULL,
	[Month] [nvarchar](100) NULL,
	[Year] [bigint] NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[GenDate] [datetime] NULL,
	[EmployeeId] [nvarchar](max) NULL,
	[BranchId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL,
	[Sl] [int] NULL,
	[Parameter] [nvarchar](250) NULL,
	[Value] [money] NULL,
	[FinalAmount] [money] NULL,
	[TxId] [int] NULL,
	[RefTxId] [int] NULL,
	[DesignationId] [int] NULL,
	[SalaryHeadsId] [int] NULL,
	[DepartmentId] [int] NULL,
	[AccountsPayable] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeparationReasons]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeparationReasons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sep_Reason] [nvarchar](500) NULL,
	[BranchId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaxSlab]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaxSlab](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[IncomeSlab] [money] NULL,
	[TaxPer] [float] NULL,
	[AdditionalId] [int] NULL,
	[BranchId] [int] NULL,
	[CompanyId] [int] NULL,
	[SubscriptionId] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[DepartmentId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserId] [int] NULL,
	[RoleId] [int] NULL,
	[SubscriptionId] [int] NULL,
	[BranchId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/20/2025 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[MobileNo] [varchar](12) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](15) NULL,
	[SubscriptionId] [int] NULL,
	[BranchId] [int] NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[EmployeeId] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdditionalInfo] ON 

INSERT [dbo].[AdditionalInfo] ([Id], [AdditionalInfoName], [CreatedAt], [UpdatedAt], [BranchId], [CompanyId], [SubscriptionId]) VALUES (1, N'Info 1', CAST(N'2025-09-11T17:57:57.000' AS DateTime), NULL, 0, 2002, 3)
INSERT [dbo].[AdditionalInfo] ([Id], [AdditionalInfoName], [CreatedAt], [UpdatedAt], [BranchId], [CompanyId], [SubscriptionId]) VALUES (2, N'Info 2', CAST(N'2025-09-11T18:03:32.887' AS DateTime), NULL, 0, 2002, 3)
INSERT [dbo].[AdditionalInfo] ([Id], [AdditionalInfoName], [CreatedAt], [UpdatedAt], [BranchId], [CompanyId], [SubscriptionId]) VALUES (3, N'FredomFighter', CAST(N'2025-09-11T18:04:00.890' AS DateTime), NULL, 0, 2002, 3)
SET IDENTITY_INSERT [dbo].[AdditionalInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([Id], [EmployeeId], [LoginDate], [LogoutDate], [BranchId], [CompanyId], [SubscriptionId]) VALUES (1, N'1', CAST(N'2025-08-20T11:51:36.190' AS DateTime), CAST(N'2025-08-20T14:59:07.567' AS DateTime), 1, 1002, 1)
INSERT [dbo].[Attendance] ([Id], [EmployeeId], [LoginDate], [LogoutDate], [BranchId], [CompanyId], [SubscriptionId]) VALUES (2, N'2', CAST(N'2025-08-20T11:54:11.547' AS DateTime), CAST(N'2025-08-20T14:59:34.520' AS DateTime), 1, 1002, 1)
INSERT [dbo].[Attendance] ([Id], [EmployeeId], [LoginDate], [LogoutDate], [BranchId], [CompanyId], [SubscriptionId]) VALUES (1002, N'2008', CAST(N'2025-10-15T15:04:52.303' AS DateTime), NULL, 0, 2002, 3)
SET IDENTITY_INSERT [dbo].[Attendance] OFF
GO
SET IDENTITY_INSERT [dbo].[AttendanceBatches] ON 

INSERT [dbo].[AttendanceBatches] ([Id], [BatchId], [DeviceIp], [MachineNumber], [SentAt], [CreatedAt]) VALUES (1, N'152958dac18d441c8f7393b1f765ee72', N'192.168.0.169', 1, CAST(N'2025-11-18T05:24:12.2966667' AS DateTime2), CAST(N'2025-11-18T11:25:28.4900000' AS DateTime2))
INSERT [dbo].[AttendanceBatches] ([Id], [BatchId], [DeviceIp], [MachineNumber], [SentAt], [CreatedAt]) VALUES (2, N'941dc23809814941b7f19f3cfd2bb967', N'192.168.0.169', 1, CAST(N'2025-11-18T05:47:52.1566667' AS DateTime2), CAST(N'2025-11-18T11:49:07.9400000' AS DateTime2))
INSERT [dbo].[AttendanceBatches] ([Id], [BatchId], [DeviceIp], [MachineNumber], [SentAt], [CreatedAt]) VALUES (3, N'87ab054ee0dc41e9a598bf86169306ec', N'192.168.0.169', 1, CAST(N'2025-11-18T12:16:40.2833333' AS DateTime2), CAST(N'2025-11-18T12:16:54.9100000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AttendanceBatches] OFF
GO
SET IDENTITY_INSERT [dbo].[AttendanceRecords] ON 

INSERT [dbo].[AttendanceRecords] ([Id], [AttendanceBatchId], [EnrollId], [UserIdFromDevice], [VerifyMode], [InOutMode], [DeviceTimestamp], [Timestamp], [WorkCode], [RecordKey], [UserId]) VALUES (1, 1, N'1001', N'4005', 1, 0, CAST(N'2025-11-17T05:24:12.2966667' AS DateTime2), CAST(N'2025-11-18T05:24:12.2966667' AS DateTime2), 0, N'1001|20250901170942', NULL)
INSERT [dbo].[AttendanceRecords] ([Id], [AttendanceBatchId], [EnrollId], [UserIdFromDevice], [VerifyMode], [InOutMode], [DeviceTimestamp], [Timestamp], [WorkCode], [RecordKey], [UserId]) VALUES (2, 2, N'1001', N'4005', 1, 0, CAST(N'2025-11-18T05:47:52.1566667' AS DateTime2), CAST(N'2025-11-18T05:47:52.1566667' AS DateTime2), 0, N'1001|20250901170942', NULL)
INSERT [dbo].[AttendanceRecords] ([Id], [AttendanceBatchId], [EnrollId], [UserIdFromDevice], [VerifyMode], [InOutMode], [DeviceTimestamp], [Timestamp], [WorkCode], [RecordKey], [UserId]) VALUES (3, 3, N'1004', N'4007', 1, 0, CAST(N'2025-11-18T12:16:32.0000000' AS DateTime2), CAST(N'2025-11-18T12:16:32.0000000' AS DateTime2), 0, N'1004|20251118121632', NULL)
SET IDENTITY_INSERT [dbo].[AttendanceRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[BonusCalculate] ON 

INSERT [dbo].[BonusCalculate] ([Id], [BonusTypeId], [BonusDate], [Percentage], [BonusAmount], [EmployeeId], [BranchId], [DesignationId], [DepartmentId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (1, 3, CAST(N'2025-11-05T00:00:00.000' AS DateTime), 50, 0.0000, N'1', 3, 4, 1, 2002, 3, CAST(N'2025-11-02T16:12:44.000' AS DateTime), NULL)
INSERT [dbo].[BonusCalculate] ([Id], [BonusTypeId], [BonusDate], [Percentage], [BonusAmount], [EmployeeId], [BranchId], [DesignationId], [DepartmentId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (2, 3, CAST(N'2025-11-05T00:00:00.000' AS DateTime), 50, 0.0000, N'2', 3, 4, 1, 2002, 3, CAST(N'2025-11-02T16:12:44.000' AS DateTime), NULL)
INSERT [dbo].[BonusCalculate] ([Id], [BonusTypeId], [BonusDate], [Percentage], [BonusAmount], [EmployeeId], [BranchId], [DesignationId], [DepartmentId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (3, 3, CAST(N'2025-11-05T00:00:00.000' AS DateTime), 50, 0.0000, N'1002', 3, 5, 1, 2002, 3, CAST(N'2025-11-02T16:12:44.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[BonusCalculate] OFF
GO
SET IDENTITY_INSERT [dbo].[BonusType] ON 

INSERT [dbo].[BonusType] ([Id], [BonusTypesName], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (1, N'Festival Bonus', 1, 1002, 1, CAST(N'2025-08-03T10:35:10.000' AS DateTime), NULL)
INSERT [dbo].[BonusType] ([Id], [BonusTypesName], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (2, N'Performance Bonus', 1, 1002, 1, CAST(N'2025-08-03T10:35:10.000' AS DateTime), NULL)
INSERT [dbo].[BonusType] ([Id], [BonusTypesName], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (3, N'Festival Bonus', 3, 2002, 3, CAST(N'2025-08-03T10:35:10.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[BonusType] OFF
GO
SET IDENTITY_INSERT [dbo].[Branch] ON 

INSERT [dbo].[Branch] ([Id], [Name], [Address], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (1, N'Mirpur DOHS', N'Mirpur 12, DOHS', 1003, 2, CAST(N'2025-11-02T12:18:45.000' AS DateTime), NULL)
INSERT [dbo].[Branch] ([Id], [Name], [Address], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (2, N'Dhanmondi', N'Dhanmondi 15/A,Hoise : 17, Road : 5', 1003, 2, CAST(N'2025-11-02T12:19:37.000' AS DateTime), NULL)
INSERT [dbo].[Branch] ([Id], [Name], [Address], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (3, N'Dhanmondi', N'Dhanmondi 15/A,Hoise : 17, Road : 5', 2002, 3, CAST(N'2025-11-02T12:24:09.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Branch] OFF
GO
SET IDENTITY_INSERT [dbo].[Calendar] ON 

INSERT [dbo].[Calendar] ([Id], [Day], [January], [February], [March], [April], [May], [June], [July], [August], [September], [October], [November], [December]) VALUES (1, 1, N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'')
INSERT [dbo].[Calendar] ([Id], [Day], [January], [February], [March], [April], [May], [June], [July], [August], [September], [October], [November], [December]) VALUES (2, 2, N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'')
INSERT [dbo].[Calendar] ([Id], [Day], [January], [February], [March], [April], [May], [June], [July], [August], [September], [October], [November], [December]) VALUES (3, 3, N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'')
SET IDENTITY_INSERT [dbo].[Calendar] OFF
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([Id], [Name], [TagLine], [VatRegistrationNo], [TinNo], [WebsiteLink], [Email], [ContactNumber], [Address], [Remarks], [LogoPath], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (1002, N'Synergy Interface LTD', N'Innovation.Solution.Acceleration', N'123', N'123', N'https://synergyinterface.com/', N'sobujislam674@gmail.com', N'01714221065', N'Mirpur DOHS', N'NO', N'/logo/9ca3312b-f417-44dc-ade5-676e7b0f241d.png', 1, CAST(N'2025-07-24T10:47:12.0000000' AS DateTime2), CAST(N'2025-07-24T12:28:42.0000000' AS DateTime2))
INSERT [dbo].[Companies] ([Id], [Name], [TagLine], [VatRegistrationNo], [TinNo], [WebsiteLink], [Email], [ContactNumber], [Address], [Remarks], [LogoPath], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (1003, N'Techsol', N'Innovation.Solution.Acceleration', N'123', N'123', N'https://synergyinterface.com/', N'superadmin@gmail.com', N'01714221065', N'Mirpur DOHS', N'NO', N'/logo/14c202b0-e1b9-49c1-9a10-c9126ade161a.png', 2, CAST(N'2025-07-24T10:57:59.0000000' AS DateTime2), NULL)
INSERT [dbo].[Companies] ([Id], [Name], [TagLine], [VatRegistrationNo], [TinNo], [WebsiteLink], [Email], [ContactNumber], [Address], [Remarks], [LogoPath], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (2002, N'Synergy Interface LTD', N'Innovation.Solution.Acceleration', N'123', N'123', N'https://synergyinterface.com/', N'synergy@gmail.com', N'01714221065', N'Mirpur Dohs', N'Innovation.Solution.Acceleration', N'/logo/9eb4fe42-8ca7-4b07-8ee3-cdf86f1c805f.png', 3, CAST(N'2025-08-21T14:54:42.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([Id], [DepartmentName], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (1, N'Software Development', 1, 1003, 2, CAST(N'2025-11-02T12:22:02.000' AS DateTime), NULL)
INSERT [dbo].[Department] ([Id], [DepartmentName], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (3, N'Software Development', 3, 2002, 3, CAST(N'2025-11-02T12:26:56.000' AS DateTime), NULL)
INSERT [dbo].[Department] ([Id], [DepartmentName], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (4, N'Quality Assurance (QA)', 3, 2002, 3, CAST(N'2025-11-02T12:27:06.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Designation] ON 

INSERT [dbo].[Designation] ([Id], [DesignationName], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt], [DepartmentId]) VALUES (1, N'Chief Technology Officer (CTO)', 3, 2002, 3, CAST(N'2025-11-02T12:30:05.000' AS DateTime), NULL, 3)
INSERT [dbo].[Designation] ([Id], [DesignationName], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt], [DepartmentId]) VALUES (2, N'Software Architect', 3, 2002, 3, CAST(N'2025-11-02T12:30:43.000' AS DateTime), NULL, 3)
INSERT [dbo].[Designation] ([Id], [DesignationName], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt], [DepartmentId]) VALUES (3, N'Senior Software Engineer', 3, 2002, 3, CAST(N'2025-11-02T12:30:57.000' AS DateTime), NULL, 3)
SET IDENTITY_INSERT [dbo].[Designation] OFF
GO
SET IDENTITY_INSERT [dbo].[DutySlots] ON 

INSERT [dbo].[DutySlots] ([Id], [SlotName], [StartHour], [StartMinute], [DutyHour], [DutyMinute], [EndHour], [EndMinute], [BranchId], [SubscriptionId], [Status], [CreatedAt], [UpdatedAt], [DesignationId], [DepartmentId]) VALUES (1, N'Day shift', 10, 0, 6, 0, 8, 0, 1, 1, 1, CAST(N'2025-08-03T16:58:13.0000000' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[DutySlots] ([Id], [SlotName], [StartHour], [StartMinute], [DutyHour], [DutyMinute], [EndHour], [EndMinute], [BranchId], [SubscriptionId], [Status], [CreatedAt], [UpdatedAt], [DesignationId], [DepartmentId]) VALUES (2, N'Night shift', 10, 0, 6, 0, 8, 0, 0, 1, 1, CAST(N'2025-08-03T16:59:06.0000000' AS DateTime2), NULL, 4, NULL)
INSERT [dbo].[DutySlots] ([Id], [SlotName], [StartHour], [StartMinute], [DutyHour], [DutyMinute], [EndHour], [EndMinute], [BranchId], [SubscriptionId], [Status], [CreatedAt], [UpdatedAt], [DesignationId], [DepartmentId]) VALUES (1002, N'no', 10, 0, 6, 0, 16, 0, 0, 1, 1, CAST(N'2025-08-04T11:07:12.0000000' AS DateTime2), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[DutySlots] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeLoan] ON 

INSERT [dbo].[EmployeeLoan] ([Id], [EmployeeId], [DateOfLoan], [LoanAgainst], [LoanPercentage], [LoanAmount], [Interest], [InterestAmount], [Term], [PerMonthInterest], [EmiPrinciple], [Emi], [Status], [ApplicationId], [BranchId], [CompanyId], [SubscriptionId]) VALUES (1, N'2008', CAST(N'2025-09-08T00:00:00.000' AS DateTime), NULL, 0, 80000.0000, 7, 5600.0000, 12, 38.89, 555.56, 594.45, NULL, 1003, 2002, 2002, 3)
INSERT [dbo].[EmployeeLoan] ([Id], [EmployeeId], [DateOfLoan], [LoanAgainst], [LoanPercentage], [LoanAmount], [Interest], [InterestAmount], [Term], [PerMonthInterest], [EmiPrinciple], [Emi], [Status], [ApplicationId], [BranchId], [CompanyId], [SubscriptionId]) VALUES (2, N'2008', CAST(N'2025-09-09T00:00:00.000' AS DateTime), NULL, 0, 50000.0000, 8, 4000.0000, 3, 111.11, 1388.89, 1500, NULL, 3004, 2002, 2002, 3)
INSERT [dbo].[EmployeeLoan] ([Id], [EmployeeId], [DateOfLoan], [LoanAgainst], [LoanPercentage], [LoanAmount], [Interest], [InterestAmount], [Term], [PerMonthInterest], [EmiPrinciple], [Emi], [Status], [ApplicationId], [BranchId], [CompanyId], [SubscriptionId]) VALUES (3, N'3004', CAST(N'2025-09-09T00:00:00.000' AS DateTime), NULL, 0, 145000.0000, 8, 11600.0000, 3, 322.22, 4027.78, 4350, NULL, 2005, 2002, 2002, 3)
SET IDENTITY_INSERT [dbo].[EmployeeLoan] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeLoanFile] ON 

INSERT [dbo].[EmployeeLoanFile] ([Id], [EmployeeId], [ApplicationFile], [ContentType], [ApplicationFileId], [LoanId], [BranchId], [SubscriptionId], [CompanyId]) VALUES (1, N'2008', N'/uploads/employeeLoanFiles/6dea9d68-05a4-46db-8e5c-89c70805ccf4_dummy.pdf', N'application/pdf', NULL, 1, 2002, 3, 2002)
INSERT [dbo].[EmployeeLoanFile] ([Id], [EmployeeId], [ApplicationFile], [ContentType], [ApplicationFileId], [LoanId], [BranchId], [SubscriptionId], [CompanyId]) VALUES (2, N'2008', N'/uploads/employeeLoanFiles/fc03a8e7-d350-4909-b501-ee08bebc3d34_List_of_Upazila.pdf', N'application/pdf', NULL, 1, 2002, 3, 2002)
INSERT [dbo].[EmployeeLoanFile] ([Id], [EmployeeId], [ApplicationFile], [ContentType], [ApplicationFileId], [LoanId], [BranchId], [SubscriptionId], [CompanyId]) VALUES (3, N'2008', N'/uploads/employeeLoanFiles/4f59daae-4bb1-4eed-b6d6-dbed718837cd_TrailBlance.pdf', N'application/pdf', NULL, 1, 2002, 3, 2002)
SET IDENTITY_INSERT [dbo].[EmployeeLoanFile] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeSeparation] ON 

INSERT [dbo].[EmployeeSeparation] ([Id], [EmployeeId], [SeparationReasonsId], [Remarks], [Sep_Date], [app_status], [app_date], [Req_date], [ReleaseLetter], [BranchId], [CompanyId], [SubscriptionId]) VALUES (8, N'2008', 5, N'NOO', CAST(N'2025-10-07T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, 2002, 2002, 3)
INSERT [dbo].[EmployeeSeparation] ([Id], [EmployeeId], [SeparationReasonsId], [Remarks], [Sep_Date], [app_status], [app_date], [Req_date], [ReleaseLetter], [BranchId], [CompanyId], [SubscriptionId]) VALUES (9, N'A123', 4, N'gfhgj', CAST(N'2025-11-20T00:00:00.000' AS DateTime), N'Approve', CAST(N'2025-11-20T00:00:00.000' AS DateTime), CAST(N'2025-11-20T00:00:00.000' AS DateTime), NULL, 3, 2002, 3)
SET IDENTITY_INSERT [dbo].[EmployeeSeparation] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeSeperationFile] ON 

INSERT [dbo].[EmployeeSeperationFile] ([Id], [EmployeeId], [application_file], [content_type], [Document_Type], [EmployeeSeparationId], [BranchId], [CompanyId], [SubscriptionId]) VALUES (12, N'2008', N'/uploads/employeeSeparationFile/16710fa8-954d-4463-9e1e-0277e2ca6d32_dummy.pdf', N'application/pdf', N'application/pdf', 8, 2002, 2002, 3)
SET IDENTITY_INSERT [dbo].[EmployeeSeperationFile] OFF
GO
SET IDENTITY_INSERT [dbo].[ExcludeTax] ON 

INSERT [dbo].[ExcludeTax] ([Id], [MonthIndex], [Month], [Year], [FromDate], [ToDate], [GenDate], [EmployeeId], [CompanyId], [SubscriptionId], [BranchId]) VALUES (1, 9, N'September', 2025, CAST(N'2025-09-01T00:00:00.000' AS DateTime), CAST(N'2025-09-30T00:00:00.000' AS DateTime), CAST(N'2025-09-30T00:00:00.000' AS DateTime), N'2008', 2002, 3, 2002)
INSERT [dbo].[ExcludeTax] ([Id], [MonthIndex], [Month], [Year], [FromDate], [ToDate], [GenDate], [EmployeeId], [CompanyId], [SubscriptionId], [BranchId]) VALUES (2, 9, N'September', 2025, CAST(N'2025-09-01T00:00:00.000' AS DateTime), CAST(N'2025-09-30T00:00:00.000' AS DateTime), CAST(N'2025-09-30T00:00:00.000' AS DateTime), N'2009', 2002, 3, 2003)
INSERT [dbo].[ExcludeTax] ([Id], [MonthIndex], [Month], [Year], [FromDate], [ToDate], [GenDate], [EmployeeId], [CompanyId], [SubscriptionId], [BranchId]) VALUES (3, 11, N'November', 2025, CAST(N'2025-11-01T00:00:00.000' AS DateTime), CAST(N'2025-11-30T00:00:00.000' AS DateTime), CAST(N'2025-11-30T00:00:00.000' AS DateTime), N'2008', 2002, 3, 4)
SET IDENTITY_INSERT [dbo].[ExcludeTax] OFF
GO
SET IDENTITY_INSERT [dbo].[GratuityCalculateSetup] ON 

INSERT [dbo].[GratuityCalculateSetup] ([Id], [SalaryHeadId], [MinYear], [MonthDays], [WorkingDays], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (1, 1002, 5, 30, 28, 2002, 2002, 3, CAST(N'2025-09-22T13:15:10.000' AS DateTime), NULL)
INSERT [dbo].[GratuityCalculateSetup] ([Id], [SalaryHeadId], [MinYear], [MonthDays], [WorkingDays], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (3, 1002, 10, 30, 28, 2003, 2002, 3, CAST(N'2025-09-22T14:22:41.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[GratuityCalculateSetup] OFF
GO
SET IDENTITY_INSERT [dbo].[LateAttendance] ON 

INSERT [dbo].[LateAttendance] ([Id], [LateMin], [NoOfLate], [AdjustmentType], [Basic], [LeaveTypeId], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (7, 15, 3, N'BasicSalary', N'Yes', 0, 2, 1002, 1, CAST(N'2025-08-11T12:14:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[LateAttendance] OFF
GO
SET IDENTITY_INSERT [dbo].[LeaveAttachments] ON 

INSERT [dbo].[LeaveAttachments] ([Id], [LeaveRecordId], [FileName], [FilePath], [CreatedAt]) VALUES (1, 1, N'dummy_b82585d192f443b99498c8a23282054b.pdf', N'/uploads/leave-docs/dummy_b82585d192f443b99498c8a23282054b.pdf', CAST(N'2025-11-12T16:27:12.0000000' AS DateTime2))
INSERT [dbo].[LeaveAttachments] ([Id], [LeaveRecordId], [FileName], [FilePath], [CreatedAt]) VALUES (2, 1, N'List_of_Upazila_8be0290371434b119bae1acab64defa9.pdf', N'/uploads/leave-docs/List_of_Upazila_8be0290371434b119bae1acab64defa9.pdf', CAST(N'2025-11-12T16:27:12.0000000' AS DateTime2))
INSERT [dbo].[LeaveAttachments] ([Id], [LeaveRecordId], [FileName], [FilePath], [CreatedAt]) VALUES (3, 5, N'dummy_6deea5198f834b6ba40b7253771b4809.pdf', N'/uploads/leave-docs/dummy_6deea5198f834b6ba40b7253771b4809.pdf', CAST(N'2025-11-12T16:57:02.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[LeaveAttachments] OFF
GO
SET IDENTITY_INSERT [dbo].[LeaveRecords] ON 

INSERT [dbo].[LeaveRecords] ([Id], [EmployeeId], [LeaveTypeId], [StartDate], [EndDate], [NumberOfDays], [Reason], [ApprovedByImmediateBossStatus], [ApprovedByHRStatus], [CreatedAt], [ImmediateBossByUpdatedAt], [BranchId], [CompanyId], [SubscriptionId], [HRByUpdatedAt]) VALUES (1, N'B123', 1002, CAST(N'2025-11-20T00:00:00.000' AS DateTime), CAST(N'2025-11-22T00:00:00.000' AS DateTime), 3, N'asfgf', 1, 1, CAST(N'2025-11-20T17:48:07.000' AS DateTime), CAST(N'2025-11-20T17:48:19.730' AS DateTime), 3, 2002, 3, CAST(N'2025-11-20T17:48:24.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[LeaveRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[LeaveType] ON 

INSERT [dbo].[LeaveType] ([Id], [TypeName], [Documents], [BranchId], [SubscriptionId], [CompanyId], [CreatedAt], [UpdatedAt]) VALUES (1, N'Casual Leave', N'No', 1, 1, 1002, CAST(N'2025-08-10T11:27:11.000' AS DateTime), NULL)
INSERT [dbo].[LeaveType] ([Id], [TypeName], [Documents], [BranchId], [SubscriptionId], [CompanyId], [CreatedAt], [UpdatedAt]) VALUES (2, N'Sick Leave', N'Yes', 1, 1, 1002, CAST(N'2025-08-10T11:28:01.000' AS DateTime), NULL)
INSERT [dbo].[LeaveType] ([Id], [TypeName], [Documents], [BranchId], [SubscriptionId], [CompanyId], [CreatedAt], [UpdatedAt]) VALUES (3, N'Annual Leave', N'No', 1, 1, 1002, CAST(N'2025-08-10T11:28:14.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[LeaveType] OFF
GO
SET IDENTITY_INSERT [dbo].[LoanApproval] ON 

SET IDENTITY_INSERT [dbo].[LoanApproval] OFF
GO
SET IDENTITY_INSERT [dbo].[LoanInstallment] ON 

INSERT [dbo].[LoanInstallment] ([Id], [TxId], [LoanId], [EmployeeId], [DateOfInstallment], [Installment_No], [Installment_Amount], [PaymentDate], [InstallmentStatus], [RefId], [SalaryMonth], [SalaryYear], [BranchId], [CompanyId], [SubscriptionId]) VALUES (1, NULL, 2002, N'4007', CAST(N'2025-12-01T00:00:00.000' AS DateTime), 1, 14861.1100, NULL, NULL, NULL, NULL, NULL, 3, 2002, 3)
INSERT [dbo].[LoanInstallment] ([Id], [TxId], [LoanId], [EmployeeId], [DateOfInstallment], [Installment_No], [Installment_Amount], [PaymentDate], [InstallmentStatus], [RefId], [SalaryMonth], [SalaryYear], [BranchId], [CompanyId], [SubscriptionId]) VALUES (2, NULL, 2002, N'4007', CAST(N'2026-01-01T00:00:00.000' AS DateTime), 2, 14861.1100, NULL, NULL, NULL, NULL, NULL, 3, 2002, 3)
INSERT [dbo].[LoanInstallment] ([Id], [TxId], [LoanId], [EmployeeId], [DateOfInstallment], [Installment_No], [Installment_Amount], [PaymentDate], [InstallmentStatus], [RefId], [SalaryMonth], [SalaryYear], [BranchId], [CompanyId], [SubscriptionId]) VALUES (34, NULL, 2002, N'4007', CAST(N'2028-10-01T00:00:00.000' AS DateTime), 34, 14861.1100, NULL, NULL, NULL, NULL, NULL, 3, 2002, 3)
SET IDENTITY_INSERT [dbo].[LoanInstallment] OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [Name], [Controller], [Action], [PermissionName], [SubscriptionId], [BranchId], [Status]) VALUES (1, N'Roles', N'Role', N'Index', N'Role', NULL, NULL, 1)
INSERT [dbo].[Menus] ([Id], [Name], [Controller], [Action], [PermissionName], [SubscriptionId], [BranchId], [Status]) VALUES (2, N'Users', N'User', N'Index', N'User', NULL, NULL, 1)
INSERT [dbo].[Menus] ([Id], [Name], [Controller], [Action], [PermissionName], [SubscriptionId], [BranchId], [Status]) VALUES (3, N'Receive Product', N'Product', N'PendingProduct', N'PendingProduct', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[NoOFLeave] ON 

INSERT [dbo].[NoOFLeave] ([Id], [LeaveTypeId], [NoOfLeaves], [YearOrMonth], [LeaveCarry], [NoOfYears], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (1, 1, 14, N'Year', N'Yes', 1, 1, 1002, 1, CAST(N'2025-08-10T14:36:06.000' AS DateTime), NULL)
INSERT [dbo].[NoOFLeave] ([Id], [LeaveTypeId], [NoOfLeaves], [YearOrMonth], [LeaveCarry], [NoOfYears], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (2, 2, 8, N'Year', N'No', 1, 1, 1002, 1, CAST(N'2025-08-10T14:36:59.000' AS DateTime), NULL)
INSERT [dbo].[NoOFLeave] ([Id], [LeaveTypeId], [NoOfLeaves], [YearOrMonth], [LeaveCarry], [NoOfYears], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (3, 3, 5, N'Year', N'Yes', 1, 1, 1002, 1, CAST(N'2025-08-10T14:37:22.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[NoOFLeave] OFF
GO
SET IDENTITY_INSERT [dbo].[OffDays] ON 

INSERT [dbo].[OffDays] ([Id], [OffDay], [DesignationId], [DepartmentId], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (1002, N'Friday,Saturday', 0, 0, 2002, 2002, 3, CAST(N'2025-09-22T11:47:24.000' AS DateTime), NULL)
INSERT [dbo].[OffDays] ([Id], [OffDay], [DesignationId], [DepartmentId], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (2, N'Friday,Saturday', 4, 1, 1, 1002, 1, CAST(N'2025-08-12T11:07:02.000' AS DateTime), NULL)
INSERT [dbo].[OffDays] ([Id], [OffDay], [DesignationId], [DepartmentId], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (3, N'Monday,Tuesday,Wednesday', 5, 1, 1002, 1002, 1, CAST(N'2025-08-12T11:20:01.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[OffDays] OFF
GO
SET IDENTITY_INSERT [dbo].[PfContribution] ON 

INSERT [dbo].[PfContribution] ([Id], [Date], [PFContributionPercentage], [PFContributionYear], [BranchId], [DesignationId], [CompanyId], [SubscriptionId]) VALUES (1, CAST(N'2025-09-18T00:00:00.000' AS DateTime), 5, 5, 2002, 1002, 2002, 3)
SET IDENTITY_INSERT [dbo].[PfContribution] OFF
GO
SET IDENTITY_INSERT [dbo].[PFInterest] ON 

INSERT [dbo].[PFInterest] ([Id], [Year], [Interest], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (3, 1, 5, 2002, 2002, 3, NULL, NULL)
INSERT [dbo].[PFInterest] ([Id], [Year], [Interest], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (2, 1, 5, 2003, 2002, 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PFInterest] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [SubscriptionId], [BranchId], [status]) VALUES (1, N'Super Admin', 1, NULL, NULL)
INSERT [dbo].[Roles] ([Id], [Name], [SubscriptionId], [BranchId], [status]) VALUES (2, N'Admin', NULL, NULL, NULL)
INSERT [dbo].[Roles] ([Id], [Name], [SubscriptionId], [BranchId], [status]) VALUES (3, N'Operator', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[SalaryCalculation] ON 

INSERT [dbo].[SalaryCalculation] ([Id], [SL], [Parameter], [Value], [ApplyDate], [BranchId], [DepartmentId], [DesignationId], [EmployeeId], [CompanyId], [SubscriptionId]) VALUES (1, 1, N'Basic Salary', 35000.0000, CAST(N'2025-11-01T00:00:00.000' AS DateTime), 3, 3, 1, N'4004', 2002, 3)
INSERT [dbo].[SalaryCalculation] ([Id], [SL], [Parameter], [Value], [ApplyDate], [BranchId], [DepartmentId], [DesignationId], [EmployeeId], [CompanyId], [SubscriptionId]) VALUES (2, 2, N'House Rent Allowance', 7000.0000, CAST(N'2025-11-01T00:00:00.000' AS DateTime), 3, 3, 1, N'4004', 2002, 3)
INSERT [dbo].[SalaryCalculation] ([Id], [SL], [Parameter], [Value], [ApplyDate], [BranchId], [DepartmentId], [DesignationId], [EmployeeId], [CompanyId], [SubscriptionId]) VALUES (3, 3, N'Medical Allowance', 1500.0000, CAST(N'2025-11-01T00:00:00.000' AS DateTime), 3, 3, 1, N'4004', 2002, 3)
SET IDENTITY_INSERT [dbo].[SalaryCalculation] OFF
GO
SET IDENTITY_INSERT [dbo].[SalaryHeads] ON 

INSERT [dbo].[SalaryHeads] ([Id], [Salaryitems], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (1, N'Basic Salary', 3, 2002, 3, CAST(N'2025-11-02T14:05:19.660' AS DateTime), NULL)
INSERT [dbo].[SalaryHeads] ([Id], [Salaryitems], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (2, N'House Rent Allowance', 3, 2002, 3, CAST(N'2025-11-02T14:05:26.723' AS DateTime), CAST(N'2025-11-02T15:06:19.210' AS DateTime))
INSERT [dbo].[SalaryHeads] ([Id], [Salaryitems], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (3, N'Medical Allowance', 3, 2002, 3, CAST(N'2025-11-02T14:05:35.513' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[SalaryHeads] OFF
GO
SET IDENTITY_INSERT [dbo].[SalaryRegister] ON 

INSERT [dbo].[SalaryRegister] ([Id], [MonthIndex], [Month], [Year], [FromDate], [ToDate], [GenDate], [EmployeeId], [BranchId], [CompanyId], [SubscriptionId], [Sl], [Parameter], [Value], [FinalAmount], [TxId], [RefTxId], [DesignationId], [SalaryHeadsId], [DepartmentId], [AccountsPayable]) VALUES (1, 11, N'November', 2025, CAST(N'2025-11-01T00:00:00.000' AS DateTime), CAST(N'2025-11-20T14:03:34.357' AS DateTime), CAST(N'2025-11-20T14:03:34.543' AS DateTime), N'2009', 3, 2002, 3, 1, N'Basic Salary', 0.0000, 0.0000, NULL, NULL, 0, 1, 0, 0)
INSERT [dbo].[SalaryRegister] ([Id], [MonthIndex], [Month], [Year], [FromDate], [ToDate], [GenDate], [EmployeeId], [BranchId], [CompanyId], [SubscriptionId], [Sl], [Parameter], [Value], [FinalAmount], [TxId], [RefTxId], [DesignationId], [SalaryHeadsId], [DepartmentId], [AccountsPayable]) VALUES (2, 11, N'November', 2025, CAST(N'2025-11-01T00:00:00.000' AS DateTime), CAST(N'2025-11-20T14:03:41.760' AS DateTime), CAST(N'2025-11-20T14:03:41.760' AS DateTime), N'2009', 3, 2002, 3, 2, N'House Rent Allowance', 0.0000, 0.0000, NULL, NULL, 0, 2, 0, 0)
INSERT [dbo].[SalaryRegister] ([Id], [MonthIndex], [Month], [Year], [FromDate], [ToDate], [GenDate], [EmployeeId], [BranchId], [CompanyId], [SubscriptionId], [Sl], [Parameter], [Value], [FinalAmount], [TxId], [RefTxId], [DesignationId], [SalaryHeadsId], [DepartmentId], [AccountsPayable]) VALUES (3, 11, N'November', 2025, CAST(N'2025-11-01T00:00:00.000' AS DateTime), CAST(N'2025-11-20T14:03:41.767' AS DateTime), CAST(N'2025-11-20T14:03:41.767' AS DateTime), N'2009', 3, 2002, 3, 3, N'Medical Allowance', 0.0000, 0.0000, NULL, NULL, 0, 3, 0, 0)
SET IDENTITY_INSERT [dbo].[SalaryRegister] OFF
GO
SET IDENTITY_INSERT [dbo].[SeparationReasons] ON 

INSERT [dbo].[SeparationReasons] ([Id], [Sep_Reason], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (1, N'Employee leaves the job voluntarily', 2002, 2002, 3, CAST(N'2025-09-24T15:08:57.000' AS DateTime), CAST(N'2025-09-24' AS Date))
INSERT [dbo].[SeparationReasons] ([Id], [Sep_Reason], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (2, N'Employee leaves after reaching retirement age or service length', 2002, 2002, 3, CAST(N'2025-09-24T15:14:01.000' AS DateTime), NULL)
INSERT [dbo].[SeparationReasons] ([Id], [Sep_Reason], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt]) VALUES (3, N'Dismissal due to violation of company rules or behavior issues.', 2002, 2002, 3, CAST(N'2025-09-24T15:14:11.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[SeparationReasons] OFF
GO
SET IDENTITY_INSERT [dbo].[TaxSlab] ON 

INSERT [dbo].[TaxSlab] ([Id], [Date], [IncomeSlab], [TaxPer], [AdditionalId], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt], [DepartmentId]) VALUES (2, CAST(N'2025-09-15T00:00:00.000' AS DateTime), 35000.0000, 5, 3, 2002, 2002, 3, CAST(N'2025-09-15T15:27:22.000' AS DateTime), NULL, 1002)
INSERT [dbo].[TaxSlab] ([Id], [Date], [IncomeSlab], [TaxPer], [AdditionalId], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt], [DepartmentId]) VALUES (3, CAST(N'2025-09-15T00:00:00.000' AS DateTime), 35000.0000, 6, 1, 2003, 2002, 3, CAST(N'2025-09-15T15:27:41.000' AS DateTime), NULL, 1003)
INSERT [dbo].[TaxSlab] ([Id], [Date], [IncomeSlab], [TaxPer], [AdditionalId], [BranchId], [CompanyId], [SubscriptionId], [CreatedAt], [UpdatedAt], [DepartmentId]) VALUES (4, CAST(N'2025-11-20T00:00:00.000' AS DateTime), 35000.0000, 5, 3, 3, 2002, 3, CAST(N'2025-11-20T12:15:19.000' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[TaxSlab] OFF
GO
INSERT [dbo].[UserRole] ([UserId], [RoleId], [SubscriptionId], [BranchId]) VALUES (1, 1, NULL, NULL)
INSERT [dbo].[UserRole] ([UserId], [RoleId], [SubscriptionId], [BranchId]) VALUES (4, 1, 2, NULL)
INSERT [dbo].[UserRole] ([UserId], [RoleId], [SubscriptionId], [BranchId]) VALUES (2002, 1, 3, NULL)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [MobileNo], [Email], [Password], [SubscriptionId], [BranchId], [Status], [CreatedAt], [UpdatedAt], [EmployeeId]) VALUES (2004, N'Md Kamran Raj', N'017142210655', N'kamran@gmail.com', N'123456', 3, 4, 1, CAST(N'2025-08-21T15:44:05.000' AS DateTime), NULL, N'2008')
INSERT [dbo].[Users] ([Id], [Name], [MobileNo], [Email], [Password], [SubscriptionId], [BranchId], [Status], [CreatedAt], [UpdatedAt], [EmployeeId]) VALUES (2005, N'Md. Nurujjaman biswas', N'017142210655', N'nuru@gmail.com', N'123456', 3, 3, 1, CAST(N'2025-08-21T15:45:58.000' AS DateTime), NULL, N'2009')
INSERT [dbo].[Users] ([Id], [Name], [MobileNo], [Email], [Password], [SubscriptionId], [BranchId], [Status], [CreatedAt], [UpdatedAt], [EmployeeId]) VALUES (3003, N'Monir', N'017142210655', N'monir@gmail.com', N'123456', 3, 3, 1, CAST(N'2025-08-27T15:49:16.000' AS DateTime), NULL, N'3004')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
