@model HRM.Models.Employee
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        margin-top: 40px;
    }

    .stepwizard-step p {
        margin-top: 10px;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 100%;
        position: relative;
        margin: 0 auto;
    }

    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }

    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-index: 0;
    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }

    .has-error .form-control {
        border-color: #a94442;
    }

    .center-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .hide {
        display: none;
    }

    .invalid-tooltip {
        display: none;
        color: red;
        margin-top: 5px;
    }

    .input-container.invalid .invalid-tooltip {
        display: block;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-6">


            <div class="container">
                <div class="row justify-content-center mb-3">
                    <div class="col-md-4">
                        <input type="number" id="searchEmpId" class="form-control" placeholder="Enter Employee ID" />
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary w-100" onclick="searchEmployee()">Search</button>
                    </div>
                </div>
            </div>


            <h1 class="mt-4 text-center">Employee Info</h1>
            <div class="row justify-content-center" style="width: 100%;">
                <div class="col-md-10">
                    <div class="stepwizard">
                        <div class="stepwizard-row setup-panel">
                            <div class="stepwizard-step">
                                <a href="#QutationStep-1" type="button" class="btn btn-primary btn-circle" aria-label="QutationStep-1">1</a>
                                <p>Step-1</p>
                            </div>
                            <div class="stepwizard-step">
                                <a href="#QutationStep-2" type="button" class="btn btn-default btn-circle" aria-label="QutationStep-2">2</a>
                                <p>Step-2</p>
                            </div>
                            <div class="stepwizard-step">
                                <a href="#step-3" type="button" class="btn btn-default btn-circle" aria-label="Step 3">3</a>
                                <p>Step 3</p>
                            </div>
                        </div>

                    </div>
                    <form asp-action="CreateOrUpdate" method="post" enctype="multipart/form-data">
                        <input type="hidden" id="empId" name="empId">
                        <div class="panel panel-primary setup-content" id="QutationStep-1">
                            <div class="tab-pane active " role="tabpanel" id="step1">
                                <input name="Applicant_Id" hidden class="Applicant_Input" />
                                <div class="card shadow mt-1" style="width: 100%;">
                                    <div class="card-body ">
                                        <div class="row">
                                            <div class="row">
                                                <label class="col-sm-3 col-form-label">Employee Name:</label>
                                                <div class="col-sm-9 pt-1">
                                                    <div class="form-group">
                                                        <input id="EmployeeNAME" name="EmployeeNAME" class="form-control form-control-sm w-100 " type="text" placeholder=" Enter the Employee NAME" tabIndex="2" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-3 col-form-label">Father Name:</label>
                                                <div class="col-sm-9 pt-1">
                                                    <div class="form-group">
                                                        <input id="FatherNAME" name="FatherNAME" class="form-control form-control-sm w-100 " type="text" placeholder=" Enter the Father NAME" tabIndex="2" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-3 col-form-label">Mother Name:</label>
                                                <div class="col-sm-9 pt-1">
                                                    <div class="form-group">
                                                        <input id="MotherNAME" name="MotherNAME" class="form-control form-control-sm w-100 " type="text" placeholder=" Enter the Mother NAME" tabIndex="2" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-3 col-form-label">Spouse Name:</label>
                                                <div class="col-sm-9 pt-1">
                                                    <div class="form-group">
                                                        <input id="SpouseNAME" name="SpouseNAME" class="form-control form-control-sm w-100 " type="text" placeholder=" Enter the Spouse Name" tabIndex="2" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <label class="col-sm-6 col-form-label">Date Of Birth:</label>
                                                        <div class="col-sm-6 pt-1">
                                                            <div class="form-group">
                                                                <input id="DOB" name="DOB" type="date" class="dtpicker form-control form-control-sm" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="data-mask" tabIndex="3" spellcheck="false" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <label class="col-sm-4 col-form-label">Gender:</label>
                                                        <div class="form-group col-sm-6 pt-1">
                                                            <select name="Gender" class="form-control form-control-sm" id="gender" tabIndex="6">
                                                                <option value="">--Select--</option>
                                                                <option value="Male">Male</option>
                                                                <option value="Female">Female</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <label class="col-sm-6 col-form-label">Blood Group:</label>
                                                        <div class="col-sm-6 pt-1">
                                                            <div class="form-group">
                                                                <input name="BloodGroup" id="bloodGroup" type="text" class="form-control form-control-sm" placeholder=" Blood Group" tabIndex="4">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <label class="col-sm-4 col-form-label">Marital Status:</label>
                                                        <div class="form-group col-sm-6 pt-1">
                                                            <select name="MaritalStatus" class="form-control form-control-sm" id="MaritalStatus" tabIndex="6">
                                                                <option value="">--Select--</option>
                                                                <option value="Married">Married</option>
                                                                <option value="Single">Single</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body d-flex justify-content-center align-items-center">
                                <button class="btn btn-primary nextBtn btn-lg" type="button">
                                    Next
                                </button>
                            </div>

                        </div>
                        @* end 1st Step *@

                        @* strat 2st Step *@
                        <div class="panel panel-primary setup-content" id="QutationStep-2">
                            <div class="tab-pane" role="tabpanel" id="step2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-body shadow p-1">
                                            <div class="card" style="width: 100%;">
                                                <div class="card-body ">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <label class="col-sm-4 col-form-label">Tin No :</label>
                                                                    <div class="col-sm-8 pt-1">
                                                                        <div class="form-group">
                                                                            <input name="TinNo" id="TinNo" type="text" class="form-control form-control-sm" placeholder="Please Enter Tin No" tabIndex="4">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <label class="col-sm-4 col-form-label">National ID :</label>
                                                                    <div class="col-sm-8 pt-1">
                                                                        <div class="form-group">
                                                                            <input name="NationalID" id="NationalID" type="text" class="form-control form-control-sm" placeholder="Please Enter National ID" tabIndex="4">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <label class="col-sm-4 col-form-label">Telephone (Resi) :</label>
                                                                    <div class="col-sm-8 pt-1">
                                                                        <div class="form-group">
                                                                            <input name="Telephone" id="Telephone" type="text" class="form-control form-control-sm" placeholder="Please Enter Telephone" tabIndex="4">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <label class="col-sm-4 col-form-label">Mobile No :</label>
                                                                    <div class="col-sm-8 pt-1">
                                                                        <div class="form-group">
                                                                            <input name="MobileNo" id="MobileNo" type="text" class="form-control form-control-sm" placeholder="Please Enter Mobile No" tabIndex="4">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <label class="col-sm-4 col-form-label"> Mail ID :</label>
                                                                    <div class="col-sm-8 pt-1">
                                                                        <div class="form-group">
                                                                            <input name="MailID" id="MailID" type="text" class="form-control form-control-sm" placeholder="Please Enter   Mail ID" tabIndex="4">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <label class="col-sm-4 col-form-label">Permanent Address :</label>
                                                                    <div class="col-sm-8 pt-1">
                                                                        <div class="form-group">
                                                                            <textarea name="PermanentAddress" id="PermanentAddress" class="form-control form-control-sm" placeholder="Please Enter Permanent Address" tabindex="4" rows="4"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <label class="col-sm-4 col-form-label">Present Address : <button type="button" class="btn btn-sm btn-primary mt-1" onclick="copyAddress()">Copy</button> </label>
                                                                    <div class="col-sm-8 pt-1">
                                                                        <div class="form-group">
                                                                            <textarea name="PresentAddress" id="PresentAddress" class="form-control form-control-sm" placeholder="Please Enter Present Address" tabindex="5" rows="4"></textarea>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body d-flex justify-content-center align-items-center mt-4">
                                    <button class="btn btn-primary nextBtn btn-lg" type="button">
                                        Next
                                    </button>
                                </div>

                            </div>
                        </div>
                        @* end 2st Step *@
                        @* start 3st Step *@

                        <div class="panel panel-primary setup-content" id="step-3">
                            <div class="tab-pane" role="tabpanel" id="step3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-body shadow p-1">
                                            <div class="card" style="width: 100%;">
                                                <div class="card-body ">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <label class="col-sm-4 col-form-label">Branch of Posting :</label>
                                                                    <div class="col-sm-8 pt-1">
                                                                        <div class="form-group">
                                                                            <select asp-for="BranchId" class="form-control form-control-sm" asp-items="ViewBag.BranchList" required>
                                                                                <option value="">-- Select Branch --</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <label class="col-sm-4 col-form-label">Department :</label>
                                                                    <div class="col-sm-8 pt-1">
                                                                        <div class="form-group">
                                                                            <select asp-for="DepartmentId" class="form-control form-control-sm " asp-items="ViewBag.DepartmentList" required>
                                                                                <option value="">-- Select Department --</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <label class="col-sm-4 col-form-label">Designation :</label>
                                                                    <div class="col-sm-8 pt-1">
                                                                        <div class="form-group">
                                                                            <div class="form-group">
                                                                                <select asp-for="DesignationId" class="form-control form-control-sm" asp-items="ViewBag.DesignationList" required>
                                                                                    <option value="">-- Select Branch --</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <label class="col-sm-4 col-form-label">Date of Appointment :</label>
                                                                    <div class="col-sm-6 pt-1">
                                                                        <div class="form-group">
                                                                            <input id="DateofAppointment" name="DateofAppointment" type="date" class="dtpicker form-control form-control-sm" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="data-mask" tabIndex="3" spellcheck="false" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <label class="col-sm-4 col-form-label">Religion :</label>
                                                                    <div class="col-sm-8 pt-1">
                                                                        <div class="form-group">
                                                                            <input name="Religion" id="Religion" type="text" class="form-control form-control-sm" placeholder="Please Enter Religion" tabIndex="4">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <label class="col-sm-4 col-form-label">Nationality : </label>
                                                                    <div class="col-sm-8 pt-1">
                                                                        <div class="form-group">
                                                                            <input name="Nationality" id="Nationality" type="text" class="form-control form-control-sm" placeholder="Please Enter Nationality" tabIndex="4">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <label class="col-sm-4 col-form-label">Shift :</label>
                                                                    <div class="col-sm-8 pt-1">
                                                                        <div class="form-group">
                                                                            <input name="Shift" id="Shift" type="text" class="form-control form-control-sm" placeholder="Please Enter Shift" tabIndex="4">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <label class="col-sm-4 col-form-label">Version : </label>
                                                                    <div class="col-sm-8 pt-1">
                                                                        <div class="form-group">
                                                                            <input name="Version" id="Version" type="text" class="form-control form-control-sm" placeholder="Please Enter Version" tabIndex="4">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="col-sm-6">
                                                                    <div class="row">
                                                                        <label class="col-sm-6 col-form-label">Upload Your Photo :</label>
                                                                        <div class="col-sm-6 pt-1">
                                                                            <div class="form-group">
                                                                                <input name="PhotoFile" id="UploadPhoto" type="file" class="form-control form-control-sm" placeholder="Please Enter Upload Photo" tabIndex="4" accept="image/*">
                                                                                <img id="photoPreview" src="" alt="Employee Photo" style="max-height: 100px; margin-top: 10px; display:none;" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <label class="col-sm-4 col-form-label">Job Type :</label>
                                                                    <div class="col-sm-8 pt-1">
                                                                        <div class="form-group">
                                                                            <div class="form-check form-check-inline">
                                                                                <input class="form-check-input" type="radio" id="fullTime" name="JobType" value="Full Time">
                                                                                <label class="form-check-label" for="fullTime">Full Time</label>
                                                                            </div>
                                                                            <div class="form-check form-check-inline">
                                                                                <input class="form-check-input" type="radio" id="partTime" name="JobType" value="Part Time">
                                                                                <label class="form-check-label" for="partTime">Part Time</label>
                                                                            </div>
                                                                            <div class="form-check form-check-inline">
                                                                                <input class="form-check-input" type="radio" id="contract" name="JobType" value="Contract">
                                                                                <label class="form-check-label" for="contract">Contract</label>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <!-- Empty column for layout balance -->
                                                            </div>

                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <label class="col-sm-4 col-form-label">Additional Info :</label>
                                                                    <div class="col-sm-8 pt-1 d-flex">
                                                                        <select id="AdditionalInfo" name="AdditionalInfoId" class="form-control form-control-sm me-2">
                                                                            <option value="">-- Select Info --</option>
                                                                        </select>
                                                                        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addInfoModal">Add</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body d-flex justify-content-center align-items-center mt-4">
                                <button type="submit" id="QuotationSubmit" class="btn btn-primary btn-sm col-md-2">Submit</button>
                            </div>


                        </div>

                        @* end 3rd Step *@



                    </form>
                </div>
            </div>
        </div>
    </main>


</div>

<!-- Modal Popup -->
<div class="modal fade" id="addInfoModal" tabindex="-1" aria-labelledby="addInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Additional Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="newInfoInput" class="form-control" placeholder="Enter new info">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-sm" id="saveInfoBtn">Save</button>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn');
        allPrevBtn = $('.prevBtn');


        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-primary').addClass('btn-default');
                $item.addClass('btn-primary');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allPrevBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

            prevStepWizard.removeAttr('disabled').trigger('click');
        });

        allNextBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url'],input[type='email']"),
                isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-primary').trigger('click');
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    function resetBranch() {
    document.getElementById("empId").value = "";
    document.getElementById("EmployeeNAME").value = "";
    document.getElementById("FatherNAME").value = "";
    document.getElementById("MotherNAME").value = "";
    document.getElementById("SpouseNAME").value = "";
    document.getElementById("DOB").value = "";
    document.getElementById("Gender").value = "";
    document.getElementById("BloodGroup").value = "";
    document.getElementById("MaritalStatus").value = "";
    document.getElementById("Telephone").value = "";
    document.getElementById("TinNo").value = "";
    document.getElementById("NationalID").value = "";
    document.getElementById("MobileNo").value = "";
    document.getElementById("MailID").value = "";
    document.getElementById("PermanentAddress").value = "";
    document.getElementById("PresentAddress").value = "";
    document.getElementById("MobileNo").value = "";
    document.getElementById("Department").value = "";
    document.getElementById("Designation").value = "";
    document.getElementById("DateofAppointment").value = "";
    document.getElementById("Religion").value = "";
    document.getElementById("Nationality").value = "";
    document.getElementById("Shift").value = "";
    document.getElementById("Version").value = "";
    document.getElementById("UploadPhoto").value = "";
    const jobTypes = document.getElementsByName("JobType");
    jobTypes.forEach(radio => radio.checked = false);

    document.getElementById("QuotationSubmit").textContent = "Submit";
            }






    function copyAddress() {
        const permanent = document.getElementById('PermanentAddress').value;
        document.getElementById('PresentAddress').value = permanent;
    }




    function editBranch(empId, employeeNAME, fatherNAME, motherNAME, spouseNAME,dOB,gender,bloodGroup,maritalStatus,telephone,tinNo,nationalID,mobileNo,mailID,permanentAddress,presentAddress,mobileNo,department,designation,dateofAppointment,religion,nationality,shift,version,uploadPhoto,jobType) {
            document.getElementById("empId").value = empId;
    document.getElementById("EmployeeNAME").value = employeeNAME;
    document.getElementById("FatherNAME").value = fatherNAME;
    document.getElementById("MotherNAME").value = motherNAME;
    document.getElementById("SpouseNAME").value = spouseNAME;
    document.getElementById("DOB").value = dOB;
    document.getElementById("Gender").value = gender;
    document.getElementById("BloodGroup").value = bloodGroup;
    document.getElementById("MaritalStatus").value = maritalStatus;
    document.getElementById("Telephone").value = telephone;
    document.getElementById("TinNo").value =tinNo;
    document.getElementById("NationalID").value = nationalID;
    document.getElementById("MobileNo").value = mobileNo;
    document.getElementById("MailID").value = mailID;
    document.getElementById("PermanentAddress").value = permanentAddress;
    document.getElementById("PresentAddress").value = presentAddress;
    document.getElementById("MobileNo").value = mobileNo;
    document.getElementById("Department").value = department;
    document.getElementById("Designation").value = designation;
    document.getElementById("DateofAppointment").value = dateofAppointment;
    document.getElementById("Religion").value = religion;
    document.getElementById("Nationality").value = nationality;
    document.getElementById("Shift").value = shift;
    document.getElementById("Version").value = version;
    document.getElementById("UploadPhoto").value = uploadPhoto;
    const jobTypes = document.getElementsByName("JobType");
    jobTypes.forEach(radio => radio.checked = false);


    document.getElementById("EditSubmit").textContent = "Edit";
        }



</script>



@* search *@
<script>
    function searchEmployee() {
        var empId = document.getElementById("searchEmpId").value;
        if (!empId) {
            alert("Please enter Employee ID");
            return;
        }

        fetch('/Employees/GetEmployeeById?empId=' + empId)
            .then(response => {
                if (!response.ok) {
                    throw new Error("Employee not found");
                }
                return response.json();
            })
            .then(data => {
                document.getElementById("empId").value = data.empId;
                document.getElementById("EmployeeNAME").value = data.employeeName;
                document.getElementById("FatherNAME").value = data.fatherName;
                document.getElementById("MotherNAME").value = data.motherName;
                document.getElementById("SpouseNAME").value = data.spouseName;
                document.getElementById("DOB").value = data.dob?.split("T")[0];
                document.getElementById("bloodGroup").value = data.bloodGroup;

                // Gender & MaritalStatus
                document.getElementById("gender").value = data.gender;
                document.getElementById("MaritalStatus").value = data.maritalStatus;

                // Contact Info
                document.getElementById("Telephone").value = data.telephoneNo;
                document.getElementById("TinNo").value = data.tinno;
                document.getElementById("NationalID").value = data.nationalId;
                document.getElementById("MobileNo").value = data.mobileNo;
                document.getElementById("MailID").value = data.mailId;

                // Address
                document.getElementById("PermanentAddress").value = data.permanentAddress;
                document.getElementById("PresentAddress").value = data.presentAddress;

                // Use jQuery for select2 dropdowns
                $('#BranchId').val(data.branchId).trigger('change');
                $('#DepartmentId').val(data.departmentId).trigger('change');
                $('#DesignationId').val(data.designationId).trigger('change');

                document.getElementById("DateofAppointment").value = data.dateofAppoinment;
                document.getElementById("Religion").value = data.religion;
                document.getElementById("Nationality").value = data.nationality;
                document.getElementById("Shift").value = data.shift;
                document.getElementById("Version").value = data.version;

                if (data.uploadPhoto) {
                    document.getElementById("photoPreview").src = "/profile/" + data.uploadPhoto;
                }

                const jobtype = document.getElementsByName("JobType");
                jobtype.forEach(radio => {
                    radio.checked = (radio.value === data.jobtype);
                });
            })
            .catch(error => {
                alert("Error: " + error.message);
            });
    }
    document.getElementById('UploadPhoto').addEventListener('change', function (e) {
        const file = e.target.files[0];
        const preview = document.getElementById('photoPreview');

        if (file && file.type.startsWith('image/')) {
            const reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };

            reader.readAsDataURL(file);
        } else {
            preview.src = '';
            preview.style.display = 'none';
        }
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        loadAdditionalInfo();
    });

    async function loadAdditionalInfo() {
        try {
            const res = await fetch('/api/AdditionalInfo/GetAll');
            if (!res.ok) throw new Error('Failed to load Additional Info');

            const data = await res.json();
            const select = document.getElementById("AdditionalInfo");

            // clear existing (keep placeholder)
            select.querySelectorAll('option:not([value=""])').forEach(o => o.remove());

            data.forEach(item => {
                const option = document.createElement("option");
                option.value = item.id;
                option.text = item.name;
                select.add(option);
            });
        } catch (err) {
            console.error(err);
            alert('Could not load Additional Info: ' + err.message);
        }
    }

    document.getElementById("saveInfoBtn").addEventListener("click", async function () {
        const newInfoInput = document.getElementById("newInfoInput");
        const newInfo = newInfoInput.value.trim();
        if (!newInfo) {
            alert("Please enter a name.");
            return;
        }

        const saveBtn = this;
        saveBtn.disabled = true;
        saveBtn.innerText = "Saving...";

        try {
            const res = await fetch('/api/AdditionalInfo/Add', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ AdditionalInfoName: newInfo })
            });

            if (!res.ok) {
                const errorText = await res.text();
                throw new Error(errorText || res.statusText);
            }

            const responseData = await res.json();

            // server returns { id, name }
            const select = document.getElementById("AdditionalInfo");
            const option = document.createElement("option");
            option.value = responseData.id;
            option.text = responseData.name;
            select.add(option);
            select.value = responseData.id; // auto-select new

            newInfoInput.value = "";

            // ---- FIX MODAL CLOSE ISSUE ----
            const modalEl = document.getElementById('addInfoModal');
            const bsModal = bootstrap.Modal.getInstance(modalEl);
            if (bsModal) {
                bsModal.hide();
            }
            // remove any leftover backdrop to avoid blurred screen
            document.querySelectorAll('.modal-backdrop').forEach(el => el.remove());

        } catch (err) {
            console.error(err);
            alert('Save failed: ' + (err.message || err));
        } finally {
            saveBtn.disabled = false;
            saveBtn.innerText = "Save";
        }
    });
</script>




